@import url('./components/buttons.scss');

@import url('./utils/scroll.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-current-100: 245 245 245;
    --color-current-200: 229 229 229;
    --color-current-300: 212 212 212;
    --color-current-400: 163 163 163;
    --color-current-500: 115 115 115;
    --color-current-600: 82 82 82;
    --color-current-700: 64 64 64;
    --color-current-800: 38 38 38;
    --color-current-900: 23 23 23;
  }
}

html, body, #app {
  @apply h-full;
}

html {
  @apply bg-neutral-900 text-neutral-100;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent rounded m-4;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}
